services:
  db:
    image: timescale/timescaledb-ha:pg18
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=dev
    volumes:
      - db:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - "8080:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
  
  app:
    image: app
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - db
      - pgadmin
    environment:
      - RAILS_ENV=development
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "12345:12345" 
  
  console-dev:
    image: app
    working_dir: /app
    depends_on:
      - db
      - pgadmin
    environment:
      - RAILS_ENV=development
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "12345:12345"
    stdin_open: true
    tty: true

  console-test:
    working_dir: /app
    image: app
    depends_on:
      - db
      - pgadmin
    environment:
      - RAILS_ENV=test
    volumes:
      - .:/app
    ports:
      - "12345:12345"
    stdin_open: true
    tty: true

volumes:
  db: